@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-bebas: "Bebas Neue", "serif";

  --color-primary-chocolate: #6f371c;
  --color-primary-orange: #ff3600;
  --color-dull-text: #9b928e;
  --color-gray-background:#191919;
}

.active {
  @apply bg-black/10 text-primary-orange font-semibold duration-200;
}

.clipImg{
  clip-path: polygon(25% 0%, 77% 0, 52% 100%, 0% 100%);
}
